#menu {
 width: 100%;
  /*height: 50px;*/ 
  font-size: 23px; 
 font-family: Segoe Print, arial;
 font-weight: bold;
 text-align: center;
 text-shadow: 3px 2px 3px #333333;
 /*background-color: #ffff99;*/
 /*border-align: center;*/
 /*position: fixed;*/
}
#menu ul {
    height: auto;
    padding: 0px -50px;
    margin: 0px;
    align-content: center;
}
 #menu li { 
display: inline; 
padding-left: 60px;
padding-right: 60px; 
} 
#menu a {
    text-decoration: none;
    color: #009900;
    /*padding: 8px 8px 8px 8px;*/
}
#menu a:hover {
    color: #F90;
    background-color: #FFF;
}
#menucenter {
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
}
#divMenu {
    background-color: #ffff99;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.dinb {
    display: inline-block;
}

 p {
   font-family: segoe, arial;
   text-shadow: 1px 1px 3px #000000;
   color: #ffffff;
   font-size: 18pt;
   /*width: 1085px;*/
}
 h1 {
   color: #33cc33;
   text-shadow: 4px 3px 4px #333333;
   font-size: 32pt;
   padding-top: 55px;
   align-items: center;
   text-align: center;
   display: inline-block;
   float: none;
   vertical-align: top;
   width: 100%;
}
 h2 {
   text-shadow: 4px 3px 4px #ffff99;
   font-size: 24pt;
}
 h3 {
    font-size: 12pt;
}
 body {
   background: url(trees.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  /*  margin-top: 100px; */
}
 footer {
     color: white;
     font-size: 15pt;
     -webkit-text-stroke: 0.5px black;
     font-weight: bold;
 }
a {
    font-weight: bold;
}
a { 
    text-decoration: none; color: #FFF; text-shadow: 1px 1px 3px #000000; 
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; color:#ff6a00; 
}
a:focus { 
    text-decoration: none; 
}
a:hover, a:active { 
    text-decoration: none; 
}